Repository HYF-Class19/agile-development-group-4, pull requests merged in 2022-07, with the labels that each got.

#3 added fdeliverable files to the planning folder
  planning/communication-plan.md
  planning/constraints.md
  planning/design.md
  planning/retrospective.md
  planning/user-personas.md
Labels: enhancement

#5 Updating communication plan - brian's availability
  planning/communication-plan.md
Labels: planning, communication

#7 Add my availability to the communication plan
  .cspell.json
  planning/communication-plan.md
Labels: planning, communication

#10 added availability planning of Azima
  .vscode/settings.json
  planning/communication-plan.md
  planning/screenshot.jpg
Labels: planning, communication, md

#12 Communication p
  planning/communication-plan.md
Labels: communication

#16 Communication-Verousca2
  planning/communication-plan.md
Labels: planning, communication

#17 Added data in communication plan
  planning/communication-plan.md
Labels: planning, communication

#26 Adding different user stories in the backlog.md
  planning/backlog.md
Labels: planning, backlog

#25 created readme.md
  .cspell.json
  README.md
  public/all-about-trees.jpeg
Labels: planning, readme.md

#28 add contents and titles
  planning/constraints.md
Labels: group, planning, md, constraints

#32 added new user persona to the user-personas.md file
  planning/user-personas.md
Labels: planning, md, user-personas

#33 Design
  planning/design.md
  public/design.png
Labels: planning, design

#35 created logo for our group
  public/logo.jpg
Labels: planning, logo

#36 backlog updated
  planning/backlog.md
Labels: planning, backlog

#43 added nav bar to design page
  planning/design.md
  public/design2.png
Labels: planning, design

#45 add navbar to page all about trees
  index.html
  styles/index.css
Labels: html, project, css

#47 Subscribe and donate buttons: HTML & CSS
  index.html
  styles/index.css
Labels: html, css, buttons

#49 added footer
  index.html
  styles/index.css
Labels: html, project, css

#51 modified the button and subscribe buttons also added video link, modi…
  index.html
  styles/index.css
Labels: html, project, css

#54 modified and created new branch for retrospective
  planning/retrospective.md
Labels: planning, retrospective

#55 modified backlog and d-starategy file
  planning/backlog.md
  planning/development-strategy.md
Labels: planning, backlog, development-strategy

#58 development-strategy.md updated
  planning/development-strategy.md
Labels: planning, development-strategy

#59 modified
  README.md
Labels: md
